[2013-10-22 06:02] ehuynh opened #1 "Autocompletion for #import"
Seems like the autocompletion for importing headers outside the current project is not working. e.g. creating a #import statement in a file in your current project, for a header from the pods project, where both projects are in the same workspace.

[2013-10-22 06:43] #1 closed, assigned to nobody

[2013-10-22 13:06] orta opened #2 "Allow for special keywords"
So far, `nil` is annoying to type, I bet there are more that should be whitelisted against probably.

[2013-10-23 04:47] #2 closed, assigned to nobody

[2013-10-23 12:32] atomkirk opened #3 "#import"
How hard would it be if once you have something selected by fuzzy matching, you could  add a keybinding that would add whatever is selected to the top of the file under imports formatted like `#import "{selected}.h"`?

[2013-10-23 13:14] #3 closed, assigned to nobody

[2013-10-23 13:22] yushuyi opened #4 "with KSImageNamed-Xcode has conflicts"
KSImageNamed-Xcode is a [UIImage imageNamed:] help input Plugin.
link:
https://github.com/ksuther/KSImageNamed-Xcode

i think you has already used.

but when i using FuzzyAutocompletePlugin
with like this image:
![snip20131023_16](https://f.cloud.github.com/assets/1632740/1390013/0d7be486-3be6-11e3-9abc-f71f9ee41fb9.png)

i can not  look image preview.

[2013-10-23 17:26] atomkirk opened #5 "always auto-highlight shortest completion"
What do you think about always auto-highlighting the shortest suggestion? Quite often my string will match two and it'll auto-highlight the longer one. At that point I can't do anything but use my arrow keys to get to the one I want. If it always picked the shortest completion, if I wanted one of the longer ones, I could type a character unique to the longer one that is not in the short one.

[2013-10-24 06:43] #4 closed, assigned to nobody

[2013-10-25 15:52] atmoio opened #6 "Uninstalling?"
Just so I know, how do I uninstall if I've installed through cloning and building?

[2013-10-25 20:08] martinstolz opened #7 "Should also work when entering a matching part in the middle."
E.g. when entering "left" to get "NSTextAlignmentLeft" nothing is found.

![image](https://f.cloud.github.com/assets/725061/1411072/f9659880-3db0-11e3-997f-269e35e8d22d.png)

But when entering the first letter it works:
![image](https://f.cloud.github.com/assets/725061/1411067/e0c7d4aa-3db0-11e3-845b-6bdc1fcdffe2.png)

The disadvantage is that you sometimes do not know in which framework you are l

[2013-10-26 01:48] chendo opened #8 "Crash on DVTTextCompletionSession dealloc"
Steps to reproduce:
1. Type `nsarray*` on a new line outside of any method.

`EXC_BAD_ACCESS` probably due to overreleased `IDEIndexCompletionItem` which we are caching.

[2013-10-26 03:24] #8 closed, assigned to chendo

[2013-10-26 05:37] #7 closed, assigned to nobody

[2013-10-28 09:05] #6 closed, assigned to nobody

[2013-10-30 07:49] yushuyi opened #10 "is can support @protocol autocompletion?"
like this image:
![qq20131030-1](https://f.cloud.github.com/assets/1632740/1435208/66369480-4137-11e3-907f-29c52fe0082b.png)

![image](https://f.cloud.github.com/assets/1632740/1435219/c1528914-4137-11e3-93ec-0bb27a2867ab.png)

xcode do not can autocompletion.

[2013-11-03 06:06] ryh opened #11 "autocomplete failed for category..."
Like UIImage+ImageEffects.h from apple,the Xcode with FuzzyAutocompletePlugin cannot autocomplete category functions...

or any other categories....

PS:
Xcode Version 5.0.1 (5A2053)
after remove the plugin,category autocomplete worked again.

[2013-11-05 02:52] Kapeli opened #12 "Tab completion issue"
Tab completion should still work when I'm not using fuzzy matching. I think `_fa_insertUsefulPrefix` needs to be changed so that if what's currently written is the prefix of the currently highlighted completion, the default behavior is used instead of inserting the whole completion.

If you tell me how to get:
1. The currently typed string (the query)
2. The currently highlighted completion
I'll m

[2013-11-05 05:27] #10 closed, assigned to nobody

[2013-11-05 06:06] #5 closed, assigned to nobody

[2013-11-05 06:41] #11 closed, assigned to nobody

[2013-11-19 09:51] creatd opened #13 "Won't find local variable"
First of all, thank you very much for this plugin! It's really good, I've been recommending to all iOS devs I know.

The bug appeared after I've installed the latest version (I had an earlier version, then I downloaded the latest version and ran it - not sure if this is the correct way to upgrade)

More often than not, it won't find local variables any more. See screenshots attached
(1 character w

[2013-11-21 22:47] ethereal-engineer opened #14 "Suggestion: Rank class object properties higher than non (example given)."
I LOVE this plugin - the goal, though, is to have it work in ALL cases :+1:

Here's an example of my issue:

I have a class (say) with a property called `titleLabel`.

Inside the class implementation, I access it using `_titleLabel`.

Unfortunately, from `_tit`, I often get `_TIME_T` instead.

(as a side question - does this plugin also make use of Xcode's weighted ranking of more commonly used au

[2013-12-02 01:37] christianselig opened #17 "Linker error on build"
Every time I try to run it I get this error:

[code]

Xcode 5.1

[2013-12-05 04:48] codeinthesky opened #18 "autocomplete for YES"
auto complete does not suggest 'YES' as an option after typing 'ye' or 'yes'.
 (only appears after typing 'y')

eg, problem occurs when typing yes:
- (BOOL)testFunction{
  return yes;
  }

[2013-12-28 10:32] ageorgios opened #21 "loses search ability after ,NSLocalizedString(@"", nil)"
after writing [NSString stringWithFormat:@"%@: %@",NSLocalizedString(@"blablabla", nil) the autocomplete is not smart any more

[2014-01-25 01:33] mykoma opened #23 "Build failed"
I built FuzzyAutocompletePlugin within my xcode, but it show me:
 "ld: framework not found DVTFoundation
clang: error: linker command failed with exit code 1 (use -v to see invocation)"

And I found the reason, because I renamed the xcode's name from "xcode" to xcode5", so rename back to "xcode" will fix this issue.

Hope it will help someone.

[2014-01-25 16:16] #23 closed, assigned to nobody

[2014-02-20 12:39] yangchenlarkin opened #24 "Sort the hints."
I found that the hints is not sorted very well. When I type "vie", "_view" appears as the default hint instead of "view". I think the exactly matched words should be put before the fuzzy ones.

[2014-03-11 05:23] Danbana opened #25 "Not working in Xcode 5.1"
I just installed Xcode 5.1 today, but I've been using your plugin to save tons of typing time over the past few months.

I built the project, and am not seeing the magical awesomeness.  Does the plug in really support Xcode 5.1?  Can you update it if not. Please!

[2014-03-11 05:59] #25 closed, assigned to nobody

[2014-03-22 02:32] tonyarnold opened #28 "Breaks autocompletion of imports from CocoaPods"
This has been a bit of a long running issue over in the CocoaPods repository(CocoaPods/CocoaPods#542), but it seems that @andreamazz made the connection between having FuzzyAutocompletePlugin installed in Xcode, and autocompletion of header imports from CocoaPods projects misbehaving.

With the plugin installed, sometimes starting to type the name of a standard framework import from a CocoaPods de

[2014-03-22 02:54] #28 closed, assigned to nobody

[2014-03-23 01:06] #12 closed, assigned to nobody

[2014-03-23 10:20] Kapeli opened #29 "Somewhat laggy backspace"
With the plugin installed, "repeat" backspacing on a string that causes the autocomplete to show up is somewhat lagged/delayed.

Note: I've got the "Key Repeat" setting set to "Fast" in System Preferences.

Without plugin:

![2014-03-23 12_16_11](https://f.cloud.github.com/assets/1445635/2493035/96305050-b274-11e3-9fd1-a4431aae4552.gif)

With plugin:

![2014-03-23 12_16_23](https://f.cloud.github.

[2014-03-23 10:30] Kapeli opened #30 "Type-over completions"
By type-over completions I mean these:

![screen shot 2014-03-23 at 12 20 52](https://f.cloud.github.com/assets/1445635/2493048/67eba162-b275-11e3-8367-154d9c6bcaf7.png)

The plugin seems to disable them (for understandable reasons).

I personally can't function without them, as I rarely look at the autocomplete list at the bottom and usually just look at the type-over completion.

Ideally it shou

[2014-03-27 12:55] ahayman opened #31 "Request: Add option to re-enable requirement to start with first letter of desired match"
I recently updated the plugin to the most recent version to find that the autocomplete is much less predictable than it used to be. I've gathered this is because you're using Xcode's priority system now.  Often, if I have an iVar called `_field`, a local var called `field` and I type in `fie`, the autocomplete will use `_field` instead of `field`. This has caused me consistent problems, especially

[2014-04-15 22:27] #31 closed, assigned to nobody

[2014-04-16 06:20] #30 closed, assigned to nobody

[2014-04-16 10:08] #14 closed, assigned to nobody

[2014-04-16 13:27] Kapeli opened #34 "Differences between top matches with and without plugin"
Without plugin:
- I type `n`. I get `NSString`
- I type `ns`. I get `NSString`

With plugin:
- I type `n`. I don't get anything (no autocomplete is shown)
- I type `ns`. I get `nsenum`
- I type `NS`. I get `NSString`

Is the sorting of matches case-sensitive? If yes, can we get an option to make it case insensitive?

If would also be nice to have an option to disable fuzzy matching if the query is

[2014-04-16 13:46] fzwo opened #35 "@selector() autocompletion broken"
Unfortunately, fuzzyAutocomplete breaks autocompletion in @selector() directives. It wants to autocomplete an unbelievable number of items, but doesn't even always contain the selector I want.

[2014-04-16 14:32] slazyk opened #36 "Wrong items selected with hotkeys"
Using (not very well known) hotkeys ^>/^. for selecting next/pevious item by score doesn't work properly.

[2014-04-16 14:57] #35 closed, assigned to nobody

[2014-04-17 07:23] #13 closed, assigned to nobody

[2014-04-17 09:11] slazyk opened #37 "Autocompletion does not automatically show for one letter"
A bug mentioned in #34

Without plugin the completions are shown after typing just one letter.

With plugin the list shows only after typing two letters or pressing the shortcut for showing it explicitly.

[2014-04-18 23:10] pwightman opened #38 "Settings panel?"
The 2.0 update talks about how you can optionally enable things in a settings panel... I've looked everything I can think of in Xcode and don't see a settings panel. Perhaps its location should be documented in the README? Happy to make a pull request once I know where it is :-)

[2014-04-18 23:18] #38 closed, assigned to nobody

[2014-04-20 20:17] #17 closed, assigned to nobody

[2014-04-24 23:29] #29 closed, assigned to slazyk

[2014-04-24 23:29] #36 closed, assigned to slazyk

[2014-04-24 23:29] #37 closed, assigned to slazyk

[2014-04-28 13:17] #24 closed, assigned to nobody

[2014-05-02 09:36] KleMiX opened #39 "Option to complete in one Tab"
In previous version I was pressing Tab once to complete whole expression. Now I have to press Tab many times to complete some types and it loses selected type after Tab and selects another which is annoying. Example:
typing "buil", getting suggestions BuildingData and buildingData, selecting second and pressing tab will select BuildingData again and stop after word Building.

It would be really gr

[2014-05-02 12:46] slazyk opened #40 "Improving scoring: post unexpected results here"
#### Post here the cases when the default choice is not what you'd expect.

_Usually such cases can be resolved by adjusting scoring function parameters (available in plugin settings under Advanced). But I try to gather such cases myself because it might be worth to tweak the plugin's default parameters or scoring function based on common cases._

Before posting, make sure you're using the newest

[2014-05-02 13:21] slazyk opened #41 "Keep selection when typing more matching letters"
Extracted from #39

Xcode's default behaviour is to keep current selection when you are typing more letters that match it and when you insert prefix with `Tab`. It changes selection to the best match when you backspace.

FuzzyAutocomplete currently always selects the best match. This should be changed to be consistent with Xcode's default behaviour, e.g.:
- keep the selection as long as typed lett

[2014-05-02 15:34] #34 closed, assigned to slazyk

[2014-05-02 16:09] #21 closed, assigned to nobody

[2014-05-03 15:54] #18 closed, assigned to nobody

[2014-05-05 12:42] #39 closed, assigned to nobody

[2014-05-06 05:57] roverk8y opened #42 "Compilation Issue on Mountain Lion"
there is issue in scoreItem method  of FAItemScoringMethod.m
when i build the project , i get the following message
No visible @interface for 'NSArray' declares the selector 'firstObject'

changed the following code
"NSRange range = [[rangesArray firstObject] rangeValue];"
to
"NSRange range = [[rangesArray  objectAtIndex:0]rangeValue];"
then it work well

[2014-05-12 20:55] #42 closed, assigned to nobody

[2014-05-30 10:42] feiwofeifeixiaowo opened #43 "There is something wrong with the source code"
![image](https://cloud.githubusercontent.com/assets/4606937/3129627/1ea8fd90-e7e7-11e3-98ba-4d8faa0cf140.png)

[2014-05-31 13:44] #43 closed, assigned to nobody

[2014-06-03 09:57] yushuyi opened #44 "xocde6-bate not have Code auto completion"
Can you help me to analyse the reason?

![image](https://cloud.githubusercontent.com/assets/1632740/3158596/bda481c8-eb05-11e3-8034-79cb405697f4.png)

[2014-06-04 21:08] #41 closed, assigned to nobody

[2014-06-11 00:02] donald-pinckney opened #45 "Can not open settings on Xcode 5, OS X 10.10 Yosemite"
Editor->FuzzyAutocomplete->Plugin Settings... does not work using Xcode 5.1.1 on the developer preview of OS X Yosemite, after multiple restarts of Xcode.  Just to be clear, I have not tried it on the beta version of Xcode 6.
![fuzzy](https://cloud.githubusercontent.com/assets/4752260/3238671/af077764-f0fb-11e3-9206-8afb16152798.png)

[2014-08-09 15:54] jshier opened #46 "Turn FuzzyAutocomplete on/off by language"
I'd like the ability to deactivate FA for Swift files, though I can see a use for being able to turn it on/off by language in general.

[2014-08-13 16:02] ghost opened #47 "implement fuzzy autocomplete behavior in the documentation window's search bar"
i want to be able to type in '**uinavcon**' and get a top result of `UINavigationController`

i'd be willing to give it a shot myself if someone was able to pair up with me and introduce me to the code.

![Explanation Screenshot](https://cloud.githubusercontent.com/assets/300235/3908375/26e858e6-2303-11e4-8bb0-7a680e2791b8.png)

[2014-09-04 20:30] #44 closed, assigned to nobody

[2014-09-04 21:27] #47 closed, assigned to nobody

[2014-09-10 08:49] callmewhy opened #48 "won't be auto opened in xcode 6 DP"
Failed after quite and reopen Xcode.
It works after re-installing.

[2014-09-18 07:10] kalvin29 opened #50 "after restart Xcode still can't use "Failed to open FuzzyAutocomplete settings.""

[2014-09-19 14:05] mobdim opened #51 "Cannot open the settings in Xcode 6.0.1 (6A317)."
Shown a window with the message: "Failed to open FuzzyAutocomplete settings."

[2014-09-24 17:20] GeorgeL9 opened #52 "Autocomplete not finishing NSStrings, NSDictionary literalls"
In Xcode 5 when I would type something like

[NSUserDefaults standardUserDefaults]setObject:<#(id)#> forKey:<#(NSString *)#>];

when I tabbed over to forKey: it would suggest @"" but now I have to type this.

Similarly if I try to create a literal I have to manually type it out.

[2014-09-29 08:18] #48 closed, assigned to nobody

[2014-10-03 15:06] #51 closed, assigned to nobody

[2014-10-03 15:06] #50 closed, assigned to nobody

[2014-11-06 23:42] #52 closed, assigned to nobody

[2014-11-06 23:42] #45 closed, assigned to nobody

[2014-11-12 12:09] nikolaikrill opened #53 "Pressing tab jumps to next capital letter match rather than next differing character"
Let's say you're code completing the following: [array addObj
The following completions are presented:
addObjectsFromArray:
addObject:

Now, when hitting Tab, you would expect the completion word to expand to "addObject" because that is the longest common phrase between the results. This is Xcode's default behavior. However, with this plugin, it erroneously expands to "addObjects", thus hiding the

[2014-11-16 23:57] #53 closed, assigned to nobody

[2014-12-25 02:37] krackers opened #55 "[Enhancement] Add option to not show "No Completions" message"
When writing new functions fuzzy autocomplete still tries to find completions for method names and when it can't it pops up a message saying "No Completions" that gets in the way of what you are trying to write. Perhaps it would be better to follow the xcode default of not showing any message if there are no autocomplete options available.

[2015-01-08 01:55] jxdwinter opened #56 "10.10.2 pre-release version Xcode issue."
![screen shot 2015-01-08 at 09 52 24](https://cloud.githubusercontent.com/assets/1195524/5656739/4a916dd6-971c-11e4-8fb5-c3ec86f6741d.png)

[2015-01-08 09:34] haaakon commented on #40
I often have problems writing numbers. In 99% of the cases i just want the number and not a random function that has a number in its name. Suggested fix: Maybe have just the number as the default autocomplete, then functions under it.

![screen shot 2015-01-08 at 10 33 59](https://cloud.githubusercontent.com/assets/1579465/5660556/e53a56ea-9721-11e4-866a-e4471a14ff8d.png)
![screen shot 2015-01-08

[2015-01-08 17:31] rmvz3 commented on #56
Same here

[2015-01-08 17:39] slazyk commented on #56
This should be fixed by #57, please verify

[2015-01-08 17:45] rmvz3 commented on #56
I downloaded the zip file, build it and everything went OK. Just a few minutes before, Alcatraz version didn't worked. Thanks

[2015-01-09 04:31] lexrus commented on #56
#57 works in 10.10.2(14C94b).

[2015-01-09 13:21] CavalcanteLeo commented on #56
cant open my xcode anymore... I will remove this plugin

[2015-01-09 14:32] ooopscc commented on #55
+1 for this feature, if there are no completions, you should only dismiss the dialog and show nothing.

[2015-01-09 14:39] ooopscc opened #58 "Plugin should not show completion for the word that start with digits"
For instance, I am type for CGRect, if I type 100 or somewhat, completion panel will show up, it is annoying. Because completion for numbers is meaningless (for me）
Hope update for this issue or make this into a feature that we can turn off.
Thanks for the amazing plugin.

Below is the completion options when I type '10'
![snip20150109_15](https://cloud.githubusercontent.com/assets/1056803/5681137

[2015-01-11 20:40] slazyk commented on #56
@CavalcanteLeo This should have already been resolved at the time you commented. Have you tried upgrading/reinstalling? If the problem persists can you open a bug with the details. Thanks.

[2015-01-11 20:40] #56 closed

[2015-01-11 20:41] slazyk commented on #55
Agreed, should be consistent with default Xcode behaviour.

[2015-01-11 20:48] slazyk commented on #58
I agree, I don't remember this being the case some time ago, so maybe the chars that trigger completion session in Xcode have changed (because of crazy identifiers possible in Swift?).

I don't think this should be an option, it should not pop up on itself for numbers. If somebody will really want to complete for a number they can always `^Space`...

[2015-01-11 21:03] slazyk commented on #56
I updated the binary .zip in 'releases' to make it easier to update.

[2015-01-12 06:17] NachoSoto opened #60 "Xcode crashing on launch when loading plugin"
I've been using this plugin for many months now (and LOVING it!), but for some reason today, every time I open Xcode, it freezes and eventually crashes. Looks like there's an infinite recursion:

[code]

Let me know if I can provide more info! :)

[2015-01-12 07:48] KittenYang commented on #46
![image](https://cloud.githubusercontent.com/assets/5517281/5700126/4db55910-9a72-11e4-8dea-65aeed855c64.png)

Do u guys know what's the problem?

[2015-01-12 07:48] KittenYang commented on #46
![screen shot 2015-01-12 at 13 05 23](https://cloud.githubusercontent.com/assets/5517281/5700135/75620864-9a72-11e4-89bf-cdd945e83b56.png)

Do u guys know what's the problem?

[2015-01-12 09:00] slazyk commented on #60
This seems like the same issue as #57 and #56
It should already be fixed. Please check if installing the newest version helps.

[2015-01-13 09:35] 441088327 opened #61 "Writer Swift code caton"
How to optimize?

[2015-01-13 11:14] #61 closed

[2015-01-17 01:31] NachoSoto commented on #60
Yes thank you! :)

[2015-01-17 01:31] #60 closed

[2015-01-17 22:10] pip8786 opened #62 "Adding a condition to an else"
If I have an } else { at the end of a block of if/elses and I try to add an if to it so it becomes }else if(){ the autocomplete doesn't give me anything. I believe the old one would.

[2015-01-22 15:46] akolov commented on #40
Swift booleans are always a problem, both "true" and "false" get replaced with DYLD_BOOL types "TRUE" and "FALSE"
![screen shot 2015-01-22 at 4 45 28 pm](https://cloud.githubusercontent.com/assets/142354/5858785/2344ea74-a256-11e4-94dc-9c6d4edfb7d3.png)

[2015-01-26 10:13] alem0lars commented on #40
Same problem of @akolov .. Booleans are really annoying.

Why there aren't language builtins in completions?

Ty ;)

[2015-01-26 15:26] jshier commented on #40
Other Swift issues include parameter names (doesn't seem to recognize that I'm typing a name and tries to complete for everything) and closure capture parameters (same issues). Really annoying to have to escape out of the completion menu.

[2015-02-06 00:17] robertjpayne opened #63 "Allow option to score code snippets above anything else"
It would be nice if it fuzzy autocomplete would score code snippets above anything else if the snippet's completion text is an exact match.

[2015-02-06 00:55] robertjpayne commented on #63
Poking around I couldn't see anything that would give us the ability to check the completion is backed by a snippet/macro.

However, I implemented this by adding a bonus for exact matches:

[code]

I'll see how I go with coding now and if it's a good fit or not.

[2015-02-16 09:53] Denages opened #64 "Symbolic link instead of binary for version 2.1"
You have a symbolic link instead of binary for version 2.1 in FuzzyAutocomplete-2.1.0-2.zip:

https://github.com/FuzzyAutocomplete/FuzzyAutocompletePlugin/releases

[2015-02-16 22:44] slazyk commented on #64
Thanks, fixed

[2015-02-16 22:44] #64 closed

[2015-02-20 04:59] slazyk commented on #63
Actually you can, you just need to check `[item class]`. For snippets it is `IDECodeSnippetCompletionItem`.

But snippets have low `item.priority` giving high `invertedPriority` which you can make more important in scoring by simply increasing `_priorityPower` which in the Advanced Settings is called 'Context'.

Also, `matchScore` already contains bonus for exact matches from `IDEOpenQuicklyPatter

[2015-02-20 05:09] slazyk commented on #62
Do I understand correctly that you want to autocomplete the `if()` upon typing `i` after `else `?
You can easily check what the old one would do by disabling the plugin in settings.
Does not autocomplete for me.

Also, while the plugin changes the scoring, it does not add nor remove any completions from the list of all the possibilities. Please reopen if that is actually what you are seeing, this

[2015-02-20 05:09] #62 closed

[2015-03-10 11:38] devlvpw opened #68 "Xcode6.2(6C131e) not work!"

[2015-03-10 18:36] Altimor commented on #68
Indeed. My favorite plugin is now broken :(

[2015-03-10 19:17] slazyk commented on #68
Fixed in #67

[2015-03-10 19:17] #68 closed

[2015-03-11 16:14] lazyjean opened #70 "can't use on xcode6.2"
the plugin didn't work on xcode6.2

[2015-03-11 16:16] segiddins commented on #70
This is addressed already by https://github.com/FuzzyAutocomplete/FuzzyAutocompletePlugin/pull/66.

[2015-03-11 17:24] slazyk commented on #70
That's correct. And I even put some text regarding this kind of issues into the readme...

Closing. Please reopen if the newest plugin version is affected.

[2015-03-11 17:24] #70 closed

[2015-04-07 03:12] limbo-lab opened #71 "not working in xcode 6.2"
It does not work in my machine installed through alcatraz. But by downloading the latest .zip build, it works.

[2015-04-11 01:58] wh1pch81n commented on #71
seems to be broken in 6.3 as well

[2015-04-13 18:50] slazyk commented on #71
I just tried installing via Alcatraz (1.1.2) on both Xcode 6.2 and 6.3 and in both cases worked just fine.
Can you provide some more detail?

Which exact versions of Alcatraz, Xcode and OS X are you using?

Does Alcatraz output anything interesting/related while trying to install FuzzyAutocomplete?
You can filter by "Fuzzy" in Console.app.

Does Xcode output anything interesting/related when start

[2015-04-17 08:38] mulle-nat opened #73 "Doesn't autocomplete some deeply nested workspace headers"
In my app A, I have a subproject B which is an umbrella framework. This in turns contains a subproject C which is another framework.

`#import <C`... doesn't autocomplete, yet Xcode picks the header up during compilation with no problem. There are no special search paths set.

[2015-04-17 08:40] beoliveira commented on #71
Seems to be broken in *Xcode 6.3* with *Alcatraz 1.1.2*.
Doesn't show up in the Editor menu.

In the Console, filtering by "Fuzzy", I get this:
[code]

Hope it helps.

[2015-04-17 09:23] slazyk commented on #73
The plugin does not alter the full completion list, only they way it is filtered and presented.

Can you check if you get the completion you are expecting when you disable the plugin?
If not, the problem lies withis Xcode itself rather than the plugin (and there is not much we can do).

[2015-04-17 09:27] mulle-nat commented on #73
Yes you are right, it's Xcodes problem really. Sorry for the false alert.

[2015-04-17 09:27] slazyk commented on #71
Thanks, that is exactly what I needed.

Can you check if you get the same error when you clone the project from github, open and build in Xcode manually?

[2015-04-17 09:34] slazyk commented on #73
What you can try is to delete DerivedData (iirc there should be an option to do this under Window > Organizer > Projects) and restart Xcode, wait for indexing to finish and see if it gets picked up then.

[2015-04-17 09:34] #73 closed

[2015-04-17 09:49] beoliveira commented on #71
Yeah, cloned it just now. The build fails in Xcode with this error:
[code]

[2015-04-17 17:58] slazyk commented on #71
Looks a bug in ibtool or OS X, and specific to 10.10.3  (as springLoaded property was introduced then, and there is nothing in the XIB related to it). Are you running final version of 10.10.3 or some of the earlier developer previews?

Will try to reproduce on a 10.10.3 machine and figure out a workaround.

[2015-04-17 18:46] slazyk commented on #71
Does not reproduce for me on Xcode 6.3 (6D570) and OS X 10.10.3 (14D131).

Are you able to open the xib in your version of Xcode?

Similarly to OS X, is your Xcode 6.3 final or one of the previews?
Do you have only one version of Xcode installed?
If more than one, does `xcode-select -p` print the path of the one you are expecting?

[2015-04-17 20:49] wh1pch81n commented on #71
It was fine when I was on xcode 6.2 but when I upgraded, fuzzy  does not work. When typing there is no fuzzy auto completion.  There is no fuzzy in the menu.  But the Alcatraz says it is installed so I dunno.

—
Sent from Mailbox

On Fri, Apr 17, 2015 at 11:46 AM, Leszek Ślażyński
<notifications@github.com> wrote:

[2015-04-24 16:36] mikeMTOL opened #74 "Not working on Xcode 6.3"
Plugin loads properly, but fuzzy matching not working.

[2015-04-28 03:16] Ahti commented on #74
Same for me, the menu is usable, I can set settings and dis-/enable the plugin, but only the default Xcode completions are showing.

I am running Xcode 6.3 (6D570) on Yosemite 10.10.3 (14D131), and Installed FuzzyAutocomplete 2.1.0 via Alcatraz.

[2015-05-02 15:29] alem0lars commented on #40
Are there any news on this issue (booleans in particular) ?

[2015-05-04 21:38] slazyk commented on #74
Is it only the matching not working or the plugin in general.
E.g. does "Show List Header" setting have any effect?

Does it also happen if you install a [prebuild release from github](https://github.com/FuzzyAutocomplete/FuzzyAutocompletePlugin/releases)?

[2015-05-04 21:52] slazyk commented on #40
Are you actually missing the `Bool` `true`/`false` from the completion list? Is it also the case with plugin turned off?

Without importing `Foundation` I get only `Bool` `true` and `false`.
With `Foundation` I also get (among other things) `Int32` `true` and `false`, and the `DYLD_BOOL` uppercase `TRUE` and `FALSE` but those loose in terms of scoring with case matching lowercase versions (unless

[2015-05-19 06:34] KyonLi opened #75 "Not working on Xcode 6.3.2"
On Xcode 6.3.1 it works fine, but not working on Xcode 6.3.2

[2015-05-20 04:28] robertjpayne commented on #74
@slazyk looks like the info.plist needs updating with new compatibility uuids

[code]

[2015-05-20 09:56] mritrifork commented on #75
I have the same problem.
This looks to be related to #74.

[2015-05-20 09:57] mritrifork commented on #74
I had the same problem and did as @robertjpayne  suggested, and added the new key to F

[2015-05-20 10:02] mritrifork commented on #74
I had the same problem and did as @robertjpayne suggested, and added the new key to FuzzyAutocomplete/FuzzyAutocomplete-Info.plist, rebuild the project (`/usr/bin/xcodebuild -project FuzzyAutocomplete.xcodeproj`) and restarted xcode and it worked.

By the way, the new CompatibilityUUID can be read out of xcode using the following command.
`defaults read /Applications/Xcode.app/Contents/Info DVTPlu

[2015-05-20 10:02] slazyk commented on #75
Merged #76

[2015-05-20 10:02] #75 closed

[2015-05-20 10:04] slazyk commented on #74
Original issue here is not related to `DVTPlugInCompatibilityUUID` as the plugin reportedly loads

[2015-05-27 08:06] maciekish opened #78 "Improve code completion for dot notation"
Hi,
we write a lot of code using dot notation because we think it's easier to read, you don't have to keep track of the number of brackets and so on. Compare:

`UIScreen.mainScreen.scale;` vs `[[UIScreen mainScreen] scale];`

Is there any way you could perhaps add better support for this in FuzzyAutocomplete? We get code completion for the `UIScreen` part, but as soon as i put a dot after it and s

[2015-06-09 15:30] gdavis opened #79 "Code completion no longer works after extensive use"
I've been working in my first Swift app for the last couple weeks, and I keep noticing that FuzzyAutocomplete will stop working after a few hours of working in the IDE. In order to get the plugin working again I have to uninstall then reinstall. I'm using Alcatraz, Xcode 6.3.2, and this happens several times a day. Any thoughts?

[2015-06-09 16:32] slazyk commented on #79
You have to uninstall and reinstall, meaning restarting Xcode does not help?

How does it stop working? Stops showing completions? Are you able to enter the settings?

When it happens, can you look in Console.app for anything related to Xcode or Fuzzy?

[2015-06-09 16:45] slazyk commented on #78
It does not complete without the plugin either, that is because mainScreen is a class method.
The completion list that is generated by Xoce for dot- and method-syntax in this case are different.
The same applies for objects of type id.

It might be easy to make the lists consistent if internally Xcode filters the method list for the dot-notation completions (otherwise it will probably be quite tri

[2015-06-09 16:47] gdavis commented on #79
Restarting does not seem to help. It stops working by reverting back to the standard Xcode auto-completion. It stops being "fuzzy".

I'm not sure what you mean by entering the settings? Next time this happens, I'll see if I can find anything in Console.app related to the plugin.

[2015-06-09 16:53] slazyk commented on #79
That is very interesting. Do you see any other weird Xcode behavior?

Anything in the logs related to Xcode, SourceKit or FuzzyAutocomplete will be helpful.

By entering the settings I mean Editor > FuzzyAutocomplete > Plugin Settings menu item.

[2015-06-09 16:55] gdavis commented on #79
I can indeed open the Plugin Settings just fine. I haven't really seen any weird behavior other than this, and its the only plugin I have enabled.

I'll be sure to post anything I find in the logs today.

[2015-06-10 00:23] gdavis commented on #79
Okay, it happened and I captured some logs that look promising. [You can find the Gist here](a7f881910cf2bc74f618).

What sticks out to me is this:
![image](https://cloud.githubusercontent.com/assets/110691/8072550/9a3d813c-0ed4-11e5-8511-096b106ffff3.png)

[2015-06-10 00:26] gdavis commented on #79
I also double-checked and it does indeed take a reinstall of the plugin to get fuzzy autocomplete working again. Restarting Xcode alone did not fix the issue.

[2015-06-10 15:19] oronbz commented on #58
agree, this is really annoying

[2015-06-14 07:44] Rivukis opened #80 "keyboard shortcuts for highlighting next/previous seem reversed."
This is more of a preference issue, but generally on a mac keyboard if a there is a shortcut for "next thing" and "previous thing" then the keyboard shortcut for "previous thing" is usually the same as the keyboard shortcut for "next thing" plus the shift key  (i.e. TAB = next highlighted argument && SHIFT+TAB = previous highlighted argument, COMMAND+APOSTROPHE = next issue, COMMAND+SHIFT+APOSTROP

[2015-06-17 19:43] gdavis commented on #79
Any insight into this? Its still happening several times a day for me, both in ObjC and Swift.

[2015-06-25 10:29] grzegorzdvipek commented on #79
+1 I have the same issue on XCode 6.3.2 (6D2105) and FuzzyAutocomplete 2.1. Additionally, I can confirm that previous versions of Fuzzy also don't work... Both Obj-C and Swift.

[2015-06-25 10:32] heps commented on #79
+1 - the same issue - XCode 6.3.2, FuzzyAutocomplete 2.1

[2015-06-28 14:38] slazyk commented on #80
Thanks for noticing. Indeed somehow I managed to explicitly make it work the other way than what Xcode is doing by default.

[2015-07-05 08:11] ihappyhacking commented on #40
I have same suggestion with @haaakon , @slazyk can you improve it? please.
Thanks.

[2015-07-08 10:18] gerchicov-bp opened #82 "The same bug as in autocomplete"
I can understand if you can't fix it but anyways...
If you write a property and want to set its ```getter``` or ```setter``` then xCode suggests a list of methods and all of them are usually incorrect. Your plugin doesn't suggest a correct list too. But in this case the standard behaviour is even better than your one because in this case it at least allows to see the exact keyboard output and your

[2015-07-16 08:38] gerchicov-bp opened #83 "Bug with "CATransform3D""
I want tot get "CATransform3D" but write "catrasn" - it doesn't suggest the word I need but suggests something like "CATransform3DTranslate".

It is even worse than standard behaviour because if you are mistaken then xCode hides autocomplete. But with your plugin I even don't see what is wrong because it always substitutes with an item it considers as a correct one.

[2015-07-29 00:14] rfsbsb commented on #74
Just to report it's not working on Xcode 6.4, on OSX 10.10.4 installed via Alcatraz.

When I open Alcatraz it says the plugin is installed but it doesn't show on menu nor it auto complete anything. If I go to Alcatraz, remove and install again the plugin, it work again. But if I close Xcode and open again, the behavior repeats.

When I run:

    defaults read com.apple.dt.Xcode DVTPlugInManagerNon

[2015-07-30 13:49] atheken opened #84 "Allow "Exact match" suggestions."
Hey all, thanks for working on this plugin.

One thing I'm running into is that usually I know the word I'm searching for, but I don't know the message name in it's entirety.

So, I might type ".draw" , and I would expect a list of options that had that word in it. This, I think is different than the current matching, which searches for each letter, d, r, a, w in order. For my case, this seems lik

[2015-07-30 13:49] atheken commented on #84
Make the issue title more obvious.

[2015-07-30 14:29] slazyk commented on #84
Yes, that is correct, fuzzy matching works more or less the way you described.

As for search performance and noisy results, tinker a little bit with options you have in settings, noise can be substantially reduced by either setting the threshold higher. Results closer to what you want can also be achieved by manipulating scoring parameters. (You can enable display of timings and scores in options

[2015-08-01 09:44] orkenstein opened #85 "Fuzzy Autocomplete via Alcatraz in Xcode7-beta not working."
Hi!
In Xcode7-beta Fuzzy plugin installed vie Alcatraz does not work.

[2015-08-04 05:50] st2340596 commented on #85
Xcode7-beta4  uzzy plugin installed vie Alcatraz does not work...

[2015-08-04 12:38] orkenstein commented on #85
@st2340596
You can clone project manually and build from **xcode7** branch.

[2015-08-04 12:38] #85 closed

[2015-09-01 05:26] ooopscc commented on #83
"catrasn" should not suggest the word you want (say CATransform3D), because you mistaken this. Also compatible for mistaken word feature may lead to very low match rate for exact word we want. BTW, for CATransform3D you can type catr3, cat3, ct3 and something like these.

[2015-09-01 07:23] gerchicov-bp commented on #83
I was mistaken in just 2 letters and it doesn't suggest a correct word. But in the same time it suggest a correct word for more wrong cases. So I just wrote about it and you are free to do something with it or ignore it. But anyways it is the mistake!

[2015-09-08 11:26] zolivier commented on #74
@rfsbsb
- Close Xcode
- Open a terminal and run: `defaults delete com.apple.dt.Xcode DVTPlugInManagerNonApplePlugIns-Xcode-6.4`
- Re-open Xcode and make sure you select 'Load Bundles'. That should whitelist at least FuzzyAutocomplete.

[2015-09-08 15:15] pronebird opened #86 "Does not work on Xcode 7"

[2015-09-12 15:17] philosopherdog commented on #86
I'm also not seeing it showing up in xCode 7 GM using Alcatraz.

[2015-09-13 14:41] slazyk commented on #82
FYI the plugin already allows for seeing exact keyboard output in two ways:

- if you enable "list header" in the plugin options
- if you disable "inline preview" in the plugin options (or "type over completions" in Xcode options)

Also, there are several options allowing you to tweak the SNR of completions to your liking, e.g.:

- you can filter completions by score more aggressively
- you can ch

[2015-09-13 14:41] #82 closed

[2015-09-13 15:20] #86 closed

[2015-09-13 15:56] slazyk commented on #83
FYI, there is an option in plugin options under experimental to "correct word order". It allows you to make one mistake of switching the order of two matched substrings.

E.g. `rangemake` will match both `CFRangeMake` and `NSMakeRange`.

And `catrasn` will match `CATransform3D`.

Although this significantly decreases the score for the item (so it might still disappear from the list because of thre

[2015-09-13 18:25] #80 closed

[2015-09-13 18:30] #58 closed

[2015-09-13 18:30] #55 closed

[2015-09-13 18:49] slazyk commented on #86
Install through Alcatraz on Xcode 7 should work fine now.

[2015-09-14 13:49] Anders123fr opened #88 "Crash when typing "func" with Swift 1.2 in Xcode 6.4"
The plugin crashes when I try to just write "func" for making a new function in a view controller.

Here is the log:

[code]

[2015-09-14 17:48] #88 closed

[2015-09-14 19:10] slazyk commented on #88
This should be now fixed in master, you simply need to rebuild (or re-install with Alcatraz). If you could share a file/project on which this reliably crashes it would be very helpful as well.

[2015-09-14 19:35] Anders123fr commented on #88
Great, it seems to be working now.
Thanks for an awesome plugin!

[2015-09-15 09:38] dev4dev opened #89 "Crashes"
Xcode 6.4 Just randomly

[code]

[2015-09-15 11:08] dev4dev commented on #89
if try to type quickly the following code, it'll crash

[code]
it crashes while you typing parameter, right after ch:boom:
if make some pause at this point and then continue, everything will be ok

[2015-09-15 11:11] slazyk commented on #89
What version of the plugin are you running? Are you using a build from Alcatraz, or did you build and install yourself? If the latter, did you by any chance build from the `nonblocking` branch?

[2015-09-15 11:25] dev4dev commented on #89
It's latest version from Alcatraz 2.1.1

[2015-09-15 11:34] dev4dev commented on #89
Installed from nonblocking, seems ok

[2015-09-15 11:37] slazyk commented on #89
I just wanted to make sure you are _not_ runing nonblocking, as it is not stable, and this crash is known to occur there (because filtering is asynchronous).

[2015-09-15 11:42] dev4dev commented on #89
But with nonblocking it's ok and just swiched back to Alcatraz to test and crash again.
So I think I'll try to use nonblocking branch for a while

[2015-09-15 11:43] dev4dev commented on #89
by the way, I have compilation error in `DVTCompletingTextView.h` file on
`@property(retain) id <DVTCompletingTextViewDelegate> delegate; // @dynamic delegate;`
line. Just commented out it and built

[2015-09-15 11:47] dev4dev commented on #89
There was no crash, because plugin didn't load.
Added UDID, still :ok_hand:

[2015-09-15 12:07] dev4dev commented on #89
meh...now it mess up while I'm defining property loginLabel :tired_face:
`@property (nonatomic, strong) TTTAttributedLabel *loglebaLni;`

[2015-09-15 20:10] #89 closed

[2015-09-15 20:14] slazyk commented on #89
This should no longer crash on `master`. Yes, I know that `nonblocking` is broken, that is why I wanted to make sure you are not using it by any chance.

[2015-09-16 06:56] jordwalke opened #90 "Render colors based on text editing theme."
The default white/blue is really jarring with certain color themes. Would it be possible to render the dropdown colors by choosing some colors from the text editor theme (I might suggest choosing colors from the fold gutter and/or line number column just to start out with).

[2015-09-16 21:29] jordwalke opened #91 "Ability to customize results via external program/service."
Is there a hook that allows providing custom completion results in an external program? For example, I might want to have typed JavaScript inferred by an external program and provide those completion results to files with the extension ".js".

[2015-09-21 10:19] Estanque opened #92 "Fuzz crahes XCode 7"
When I'm trying to correct a misspelled word by deleting with backspace Fuzz crashes my XCode 7.
Here is some part of crashreport.

[code]

[2015-09-22 04:58] egold commented on #92
+1 was just about to come report same crash, same out-of-bounds error (`NSMutableRLEArray objectAtIndex:effectiveRange:runIndex:: Out of bounds`)

[2015-09-22 05:01] egold commented on #92
I believe crash happens in this method: https://github.com/FuzzyAutocomplete/FuzzyAutocompletePlugin/blob/master/FuzzyAutocomplete/DVTTextCompletionListWindowController%2BFuzzyAutocomplete.m#L121

[2015-09-22 05:14] egold commented on #92
Interestingly, after removing FuzzyAutoComplete, base Xcode autocomplete crashes when backspacing past the 5th character. I think this may be an Xcode 7 issue, not FAC's issue.

http://stackoverflow.com/questions/32070483/xcode-7-beta-crash-on-autocompletion-nsrangeexception

https://forums.developer.apple.com/thread/14832

[2015-09-22 05:29] egold commented on #92
This might be coincidental, but I noticed if I typed a few characters like `[super viewDidL` and wait a few seconds, the crash hasn't happened since. Maybe Xcode is lazy-building some index for autocomplete? Fingers crossed...

[2015-09-23 00:34] Brok3nHalo commented on #92
Do you guys happen to have SCXcodeMiniMap installed as well?

I had this same crash and removing FuzzyAutoComplete also didn't help, but then someone I work with had the same issue and we only had two overlapping plugins and Fuzzy wasn't one of them. After uninstalling MiniMap I re-installed FuzzyAutoCOmplete and haven't had  crash in over an hour.

[2015-09-23 00:37] virusman commented on #92
@Brok3nHalo Thanks!! Removing SCXcodeMiniMap has solved the issue for me.

[2015-09-23 12:16] saltwat5r commented on #92
I've just removed SCXcodeMiniMap, but this not resolved problem.

[2015-09-23 22:10] rhyok commented on #92
+1 to experiencing this. Not sure of the exact circumstances... I've since turned Fuzzy off because when it crashes, I lose work :(

[2015-09-24 01:20] egold commented on #92
It's a problem with vanilla Xcode too. Even after completely removing Alcatraz, I still get this crash. The workaround I'm using is to set Xcode prefs to not use autocomplete except when I press the Esc key. So lame.

[2015-09-24 07:20] BillZong commented on #92
@Brok3nHalo Thanks a lot. It confuse me some how until I remove the SCXcodeMiniMap.

[2015-09-28 01:52] socoboy opened #93 "Couldn't find FuzzyAutocompletePlugin in Xcode 7 Plugins directory"
After install FuzzyAutocompletePlugin by building this repository. I go to Xcode plugins directory
~/Library/Application Support/Developer/Shared/Xcode/Plug-ins and couldn't find the plugin

[2015-10-07 02:31] yuyao110120 commented on #92
Hide MiniMap has solved the issue for me.

[2015-10-21 12:25] iv-mexx opened #94 "Fuzzy Crashes Xcode (with Multiplex Plugin?)"
This seems to be different crash than #92

I *think* it has something to do with [multiplex](https://github.com/kolinkrewinkel/Multiplex) which I have installed just today. Since I've uninstalled that plugin, I did not experience this crash (yet), but it was very frequent while I've had that plugin installed, also Multiplex appears in the Crashlog as well:

[code]

I've created https://github.com/

[2015-10-21 17:49] kolinkrewinkel commented on #94
Pretty sure this is Multiplex's problem based, we can close this one

[2015-10-21 17:59] philosopherdog opened #95 "Slows typing to a crawl in 7.0.1"
Totally slows down typing. I'm on a retina with ssd. So, plenty of power. Turning off the plugin solves the slow down. But I love this plugin!

[2015-10-21 18:04] philosopherdog commented on #95
Ok, I solved it with a manual install. I had it installed through the package manager.

[2015-10-21 18:04] #95 closed

[2015-10-22 09:38] #94 closed

[2015-10-22 15:14] hardikdevios opened #98 "Please give support for Xcode 7.1"
Plugin not working in latest Xcode 7.1 which is now officially released.

[2015-10-22 21:24] slazyk commented on #95
Do you mean that version from Alcatraz was substantially slower than one built manually?

[2015-10-22 23:02] ndonald2 commented on #98
:+1:

[2015-10-22 23:02] keith commented on #98
This can be closed for https://github.com/FuzzyAutocomplete/FuzzyAutocompletePlugin/pull/96 and https://github.com/FuzzyAutocomplete/FuzzyAutocompletePlugin/pull/97

[2015-10-22 23:07] #98 closed

[2015-10-23 00:26] slazyk commented on #93
Can you still reproduce?

[2015-10-23 00:32] philosopherdog commented on #95
For me it was.

[2015-10-23 00:45] slazyk opened #99 "Improve Performance"
Surprisingly, the plugin becomes slower on newer versions of Xcode. Need to re-evaluate performance bottlenecks. Last big performance optimisation was done when Xcode 5 was still around :)

Initial investigation of performance under Xcode 7.1 shows that getting a priority factor has (only now, or had it always?) a synchronized part, and can make parallel processing slower than single thread when m

[2015-10-23 00:52] slazyk commented on #74
This hopefully is now obsolete

[2015-10-23 00:52] #74 closed

[2015-10-23 00:53] slazyk commented on #71
This hopefully is now obsolete

[2015-10-23 00:53] #71 closed

[2015-10-23 00:56] slazyk commented on #79
Is this still reproducible? The issue gdavis mentioned was fixed in 2.1.1.

[2015-10-23 01:00] slazyk commented on #92
Is this still happening in 7.1? If yes, does removing SCXcodeMiniMap help?

[2015-10-25 08:32] wjxforu opened #100 "Not Suppoted For Xcode 7.1"
Well, I updated my Xcode to 7.1 yesterday. And i'm really regret about this, cause i can not use Fuzzy any more.

[2015-10-26 10:04] scriptease opened #101 "Featurerequest: Selective enable/disable for swift and/or in the console"
Hello,

thanks for the great plugin. It works awesome in Objc.

However i feel struggling in the Console or when using swift, e.g. it always shows the Class instead of the variable and replacing false/true with other stuff.

I would greatly appreciate if it could be selective disabled e.g. in the console, for swift or for objc

Thanks
Florian

[2015-10-27 20:53] leszarna commented on #100
You need probably to reinstall Alcatraz and then reinstall Fuzzy. It works with 7.1 for sure.

[2015-10-27 22:54] slazyk commented on #100
Correct, it does. You just need to install a newer version.

[2015-10-27 22:54] #100 closed

[2015-10-28 15:52] gdavis commented on #79
Haven’t seen this happen in a while. Currently using 2.1.1. 👍🏻

[2015-10-28 15:52] #79 closed

[2015-11-09 12:01] kidneyband opened #103 "xcode7.2 beta support issue"
do not work in xcode7.2 beta. could you fix it?😁

[2015-11-09 18:21] rastersize opened #104 "“Warning: No ranges matched for item, skipping” printed excessively in log"
I’m seeing large amounts of identical messages being printed during normal usage. From a session of about 30 minutes usage I have 1334 identical messages logged by FuzzyAutocomplete.

Is this needed for release builds or something that we could compile out?

For example, notice how that there’s several messages during the same second:
[code]

[2015-11-17 12:58] ngothanhtai opened #105 "Does not work with Xcode 7.1.1 (7B1005)"
Hi,
After downloading FuzzyAutocomplete.xcplugin, add it to ~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/
-> No "FuzzyAutocomplete" in Editor menu

I also had problem of installing Alcatrax.
-> No "Package Manager" in Window menu

I am using OS X El Capitan, Xcode 7.1.1 (7B1005)

Cheers,
Tai

[2015-11-18 03:59] ngothanhtai commented on #105
I just reinstalled Alcatraz and it works. Just crash for first time install FuzzyAutocomplete but try it later, it works fine.

[2015-11-18 03:59] #105 closed

[2015-11-20 09:54] Judy-u commented on #105
yes i agree

[2015-11-22 04:55] lovelock commented on #99
Yeah, I run into this problem, too. Mac runs quite slow and hot when I swithed the plugin on, on which I run Xcode 7.1

[2015-11-22 23:07] Jauzee opened #106 "Init a Struct"
Can not init any custom Struct with FuzzyAutocomplete enabled (doesn't show autocompletion). Settings are default. Xcode version 7.1.1 and the language is Swift

[code]

[2015-11-22 23:20] Jauzee commented on #106
Fixed by restarting Xcode (:

[2015-11-22 23:20] #106 closed

[2015-11-23 02:17] yz06276 commented on #103
can't work with xcode 7.2 beta 4 .

[2015-11-27 04:18] ForkPanda commented on #93
[Portal Here! A script for reload all plugin-ins](https://github.com/ForkPanda/RescueXcodePlug-ins)

[2015-11-27 08:17] akring commented on #99
This is the problem man,it's much slower when I'm working on Swift.Wish we can get this update soon：）

[2015-12-01 09:25] Bluelich commented on #104
Me too!

[2015-12-03 21:34] slazyk commented on #104
This log indicates an unexpected condition (and because of this was intended for the release, yes). If you can correlate it with what was being completed at the time, in what language, and what is your Xcode version, and what version of the plugin were you using, this would be useful.

[2015-12-03 23:39] #103 closed

[2015-12-03 23:39] slazyk commented on #103
Fixed on master

[2015-12-04 00:52] Bluelich commented on #104
Latest version of the plugin and  Xcode7.1.  Thank  you！

[2015-12-05 19:43] samjesse opened #107 "failed to work on xCode 7 stand alone swift file"
On xCode 7.1.1, open a stand alone .swift file not in a project.
typing
let replacement = (fullPath as NSString).
looking for
stringByReplacingOccurrencesOfString
but it is no where to be found.
desired output is:
let replacement = (fullPath as NSString).stringByReplacingOccurrencesOfString(oldName, withString: newName)

[2015-12-09 12:02] ConanMTHu opened #109 "Does not work with Xcode 7.2(7C68)"

[2015-12-09 17:16] scriptease opened #110 "Why is the scoring preferring different case over same case"
Hello all,

first of all thanks for the great plugin, i have been using it for quite a while but i had to disable it recently.

I have a question that annoys me so much that i had to turn of fuzzy autocomplete for swift files:

When i work in a method and the class has a variable named the same as another class, then the scoring will always select the class and not the variable (even if the entere

[2015-12-09 17:37] charlieMonroe opened #111 "Just a hint"
Hi,

it's a great plugin, just wanted to let you know that there already is something like this implemented in Xcode itself. It's in the Debug menu, which needs to be enabled via a 3rd party application or command line (it's a defaults option). See attached image. Perhaps you could use that somehow.

![screen shot 2015-12-09 at 6 37 05 pm](https://cloud.githubusercontent.com/assets/64899/11693225/

[2015-12-09 18:59] ngothanhtai commented on #111
Hi @charlieMonroe,
Which 3rd party application you are using to show this Menu.

[2015-12-09 19:19] charlieMonroe commented on #111
Can't find the app anymore, but looking into the preferences file, this command will do:

[code]

[2015-12-09 22:52] slazyk commented on #111
Thanks. Yes, I have been aware of this being available through different default keys at least since 7.0.

[2015-12-09 22:52] #111 closed

[2015-12-10 07:39] DanielBocksteger commented on #109
Same here. :(

[2015-12-10 08:03] Oritm commented on #109
Yeah, only upgrading if this plugin works ;)

[2015-12-10 10:12] slazyk commented on #109
#108 is now merged, it should work once you rebuild the plugin

[2015-12-10 10:12] #109 closed

[2015-12-20 15:37] julian-weinert opened #112 "Fuzziness for Info.plist autocomplete"
I'd really love to use fuzzy autocomplete in my apps Info.plists as well.

[2016-01-01 08:39] wjxforu commented on #100
OK,thanx. I try it ,and it works now. Sorry for the bother

2015-10-28 4:53 GMT+08:00 leszarna <notifications@github.com>:

[2016-01-11 10:30] quxingzhe opened #113 "couldn't parse contents of '/Users/Liki/....../FuzzyAutocomplete-Info.plist'，路径下找不到这个plist文件"
我在运行插件的时候，xcode报错。错误内容是不能解析plist文件，然后我去这个目录找，发现没有这文件；请问， 这个问题我要怎么破？

error log:
error: couldn't parse contents of '/Users/Liki/Documents/devutil/plugin/FuzzyAutocompletePlugin/FuzzyAutocomplete/FuzzyAutocomplete-Info.plist': The data couldn’t be read because it isn’t in the correct format.

[2016-02-02 02:46] cbowns opened #114 "Xcode 7.3: interop with fuzzy autocomplete from Apple, and FuzzyAutocomplete performance issues"
[Xcode 7.3's release notes](http://adcdownload.apple.com/Developer_Tools/Xcode_7.3_beta_2/Xcode_7.3_beta_2_v2_Release_Notes.pdf) mention autocompletion changes. (I won't quote them here to avoid any NDA issues.)

I've been using FuzzyAutocomplete with Xcode 7.3 beta 1 (both `master` and the non-blocking v2 branch) and have noticed a *lot* of beachballing when showing autocompletion for a variable.

[2016-03-02 08:08] HiveHicks commented on #63
+1 for this option

[2016-03-02 10:33] pvinis opened #116 "missing completions"
this happens often. this is one example.
i have `snapDirsAndDists` as a variable.
i try to complete with `snapdsss` and it doesnt complete. `snapdss` is ok though.
why is it that the last `s` cannot be found?

[2016-03-18 06:57] laowenlu opened #117 "只要退格删除就会Xcode崩溃"
Xcode崩溃报错： UNCAUGHT EXCEPTION (NSRangeException): NSMutableRLEArray objectAtIndex:effectiveRange:runIndex:: Out of bounds

Xcode版本7.1

[2016-03-22 07:47] TryToBeAExcellentCoder opened #118 "Build fail 4 XCode 7.3"

[2016-03-22 07:50] TryToBeAExcellentCoder commented on #118
I upgraded Xcode to Ver 7.3 today, when I install this plugin, it was built fail..
Is anything wrong in my process?

[2016-03-22 08:15] jxdwinter commented on #118
+1.some to me.

[2016-03-22 09:30] dushiwang opened #120 "Can`t not totally uninstall this plugin!!"
I`ve tried installing and uninstalling for several times but all my works do nothing and the plugin still works in my project. Plz help!

[2016-03-22 13:56] ppbdrinker commented on #118
Installing via alcatraz seems to have no effect either.

[2016-03-23 01:43] keepyounger commented on #118
#114 maybe help.

[2016-03-23 03:30] CC10559 commented on #120
the same situation!!!!!!!   I can't do anything now......who can help us?????

[2016-03-23 03:40] jxdwinter commented on #118
@ppbdrinker Thanks! Alcatraz works!

[2016-03-23 05:21] #120 closed

[2016-03-23 17:25] zekunyan commented on #118
I had this error: Symbol not found: _OBJC_CLASS_$_DVTTextCompletionInlinePreviewController

[2016-03-23 17:30] zekunyan opened #121 "Build failed on Xcode 7.3"
I try to build FuzzyAutocompletePlugin on the latest Xcode 7.3 (7D175). But it failed.

[code]

[2016-03-23 18:46] erikolofsson commented on #118
You can find a rough fix here that simply ignores the functions that are now unavailable in Xcode 7.3:
https://github.com/erikolofsson/FuzzyAutocompletePlugin/commit/b927567e8b4c26ecb6c9278449f31851bdd537be

I'm sure there are many bugs, but from initial testing core features seems to work. The updated Xcode headers are probably useful to figure out anything else that needs doing.

[2016-03-24 08:33] raykle commented on #120
Hi, how you solved this issue?

[2016-03-25 05:53] liuzhecodekiller commented on #121
do you have solved this problem？ i have the same problem

[2016-03-25 06:36] zekunyan commented on #121
@liuzhecodekiller https://github.com/erikolofsson/FuzzyAutocompletePlugin @erikolofsson fixed it by ignoring some unavailable functions in Xcode 7.3. You can try it.

[2016-03-25 06:38] liuzhecodekiller commented on #121
Thanks ，i have solve it by same way with you！

------------------ 原始邮件 ------------------
发件人: "zekunyan";<notifications@github.com>;
发送时间: 2016年3月25日(星期五) 下午2:36
收件人: "FuzzyAutocomplete/FuzzyAutocompletePlugin"<FuzzyAutocompletePlugin@noreply.github.com>;
抄送: "无名"<471340380@qq.com>;
主题: Re: [FuzzyAutocompletePlugin] Build failed on Xcode 7.3 (#121)

@liuzhecodekiller https://github.com/erikolofss

[2016-03-25 08:38] ChristXie opened #122 "Xcode 7.3 升级后无法使用该插件 / FuzzyAutocompletePlugin without effect"

[2016-03-25 08:40] ChristXie commented on #122
按照作者的提示修改了UUID可惜并没有什么用，有没有人可以帮助我解决？

[2016-03-25 09:03] ChristXie commented on #122
已经解决了，可以去https://github.com/erikolofsson/FuzzyAutocompletePlugin下载，亲测有效!
I fix it ! you can download https://github.com/erikolofsson/FuzzyAutocompletePlugin  , it's work!

[2016-03-25 19:51] slazyk commented on #122
Xcode 7.3 has fuzzy autocompletion built in and enabled by default without any plugins.

The two implementations do differ in some details so I am figuring out if and how to proceed.

[2016-03-25 19:51] #122 closed

[2016-03-25 19:52] #114 closed

[2016-03-25 19:53] slazyk commented on #121
Duplicate of #118

[2016-03-25 19:53] #121 closed

[2016-03-26 12:10] KenmuHuang commented on #118
I had this error: Symbol not found: OBJC_CLASS$_DVTTextCompletionInlinePreviewController
Xcode 7.3 can't use it.
How to solve this issue?

[2016-03-29 07:13] fjswhl commented on #118
Install through Alcatraz not work too, actually the installation is failed but alcatrac hadn't prompt you. You can see from Editor menu that there is no 'FuzzyCompletion' submenu under it

[2016-03-31 08:20] gerald-coddut commented on #118
what @fjswhl says; alcatraz shows that it is 'installed' but it is never shown in XCode's menubar...

[2016-04-05 03:37] 7934345 commented on #118
Any update schedule yet?

[2016-04-08 03:38] RangeChiong opened #123 "Uninstall plugin, but it still work. Xcode7.3"
I update my xcode to 7.3 . I don't want to use it now. So I uninstall it. Restart xcode, it still work~~!! Again and again.

[2016-04-08 06:45] yangyu2010 commented on #118
some to me. What's the matter?

[2016-04-08 09:40] lmorit commented on #123
You do know that xcode 7.3 has its own autocomplete feature right?

[2016-04-11 02:21] chen0807130004 commented on #118
Can you fixed this plugin error when used in xcode7.3。 when used xcode 7.3  @import or #import  we need to build again,fuck of the xcode7.3 new.we need you,we need your plugin.

[2016-04-11 06:36] XiFengLang commented on #118
+1,some to me.

[2016-04-11 06:40] fjswhl commented on #123
Actually this plugin didn't work in Xcode 7.3 at all :(

[2016-04-11 09:12] dev4dev commented on #123
@fjswhl but built-in solution works quite well

[2016-04-20 04:07] longbow007 commented on #118
Same to me, the error is:
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_DVTTextCompletionInlinePreviewController", referenced from:
      l_OBJC_$_CATEGORY_DVTTextCompletionInlinePreviewController_$_FuzzyAutocomplete in DVTTextCompletionInlinePreviewController+FuzzyAutocomplete.o

Please fix Fuzzy for us, we need you! Xcode 7.3 auto completion sucks...

[2016-04-21 04:07] Rdxer commented on #118
'''
Same to me, the error is:
Undefined symbols for architecture x86_64:
"OBJC_CLASS$DVTTextCompletionInlinePreviewController", referenced from:
l_OBJC$CATEGORY_DVTTextCompletionInlinePreviewController$_FuzzyAutocomplete in DVTTextCompletionInlinePreviewController+FuzzyAutocomplete.o

Please fix Fuzzy for us, we need you! Xcode 7.3 auto completion sucks...
'''

+1

[2016-04-21 22:02] #123 closed

[2016-04-21 22:04] slazyk commented on #116
My guess would be that it just does not make it above the scoring threshold.
By default the plugin does not show all completions, just the ones with high enough scores.
You should be able to tweak it to your liking in settings.

[2016-04-21 22:04] #116 closed

[2016-04-21 22:07] slazyk commented on #118
I wasn't expecting much demand for it, given builtin fuzzy autocompletion in Xcode 7.3. Is there actually any interest in version for Xcode 7.3+?

I haven't actually used Xcode 7.3 much... Can anyone tell me what are the problems with builtin fuzzy autocompletion?

[2016-04-22 02:51] guoranliaoran commented on #118
I had this error:
Undefined symbols for architecture x86_64:
"OBJC_CLASS$DVTTextCompletionInlinePreviewController", referenced from:
l_OBJC$CATEGORY_DVTTextCompletionInlinePreviewController$_FuzzyAutocomplete in DVTTextCompletionInlinePreviewController+FuzzyAutocomplete.o

Please fix Fuzzy for us, we need you! Xcode 7.3 auto completion sucks...

[2016-04-22 03:00] lanmaoxinqing commented on #118
@slazyk  The problem with built in fuzzy autocompletion is, when I want to type a variable with autocompletion, it doesn't work even after I have imported the header file.  Only after I rebuild the project, it works.

[2016-04-22 03:18] guoranliaoran commented on #118
@lanmaoxinqing  Hi,you can have a try like this: In your Project -> TARGETS -> Build Settings -> Weak References in Manual Retain Release  and set Debug = YES, it worked for me.

[2016-04-22 08:01] Menq commented on #118
some to me , any schedule to fix this!  It seems a long time no update!!!

[2016-04-26 10:54] yaokaige commented on #118
XCode7.3.1 beta released, seems they have fixed code complete issue.

[2016-04-27 15:36] KenmuHuang commented on #118
@yaokaige Are you sure Xcode 7.3.1 beta have fixed code complete issue?

[2016-04-28 03:09] Menq commented on #118
@KenmuHuang
I try 7.3.1 , nothing seems different.  if any progress , tell me.

[2016-04-29 07:30] yaokaige commented on #118
@KenmuHuang yes, the build in autocomplete bug is gone, and now has the same experience like this plugin

[2016-05-01 13:32] KenmuHuang commented on #118
@yaokaige I will try to install Xcode 7.3.1 beta later. Thank you for notice.

[2016-06-01 01:39] junjielu commented on #118
Xcode 7.3.1 still cannot install this plugin.I have try all the way to install this plugin.However,via Alcatraz,the plugin seems to be zero bytes.And when I try to build the latest project,2 errors occured which is

"OBJC_CLASS$DVTTextCompletionInlinePreviewController", referenced from:
l_OBJC$CATEGORY_DVTTextCompletionInlinePreviewController$_FuzzyAutocomplete in DVTTextCompletionInlinePreviewCon

[2016-06-03 12:32] Andrew-Khomenok opened #124 "Settings are not shown in Editor menu"
Using Xcode 7.3.1. The plugin works, but there is no Settings menu.

![2016-06-03 15 23 07](https://cloud.githubusercontent.com/assets/4293745/15778532/7774428a-299f-11e6-8daa-ae817c467055.png)

[2016-06-03 14:23] Andrew-Khomenok commented on #124
UPD: found issue about Xcode 7.3. It seems I use default 7.3 fuzzy and plugin doesn't work at all.

[2016-06-03 14:24] #124 closed

[2016-06-17 06:17] danieleforlani commented on #118
same problem here, I would like to have this working because it was more reliable than apple auto completion!

[2016-06-23 06:34] ChinaKingKong opened #126 ""_OBJC_CLASS_$_DVTTextCompletionInlinePreviewController", referenced from:pen"
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_DVTTextCompletionInlinePreviewController", referenced from:
      l_OBJC_$_CATEGORY_DVTTextCompletionInlinePreviewController_$_FuzzyAutocomplete in DVTTextCompletionInlinePreviewController+FuzzyAutocomplete.o
      objc-class-ref in FuzzyAutocomplete.o
ld: symbol(s) not found for architecture x86_64

[2016-06-29 17:25] Huang-Libo commented on #117
@laowenlu  use English to describe...

[2016-07-01 03:08] mrhyh commented on #126
我遇到的也是这个问题.

[2016-07-22 03:03] songxing10000 commented on #126
the same problem,why

[2016-07-29 01:54] 7934345 opened #127 "Its DEAD?"
Nothing for now.

[2016-09-13 10:07] ferologics commented on #126
same issue when trying to `carthage update` with AwesomeCache, fails the build

[2016-09-14 02:50] tomrlq commented on #127
I think so, because since the version of 7.3.1, Xcode has a better auto-complete function. I uninstall this plugin since then

[2016-09-14 03:08] tomrlq commented on #117
I do not know why you submit a issue in Chinese. I think you can update to Xcode 8

[2016-09-14 03:22] tomrlq commented on #118
For those who complain about the build in auto-completion, I recommend you to update to Xcode 8. Since Xcode 8 has fixed all the bugs, you can use the build in fuzzy auto-completion

[2016-09-14 05:38] Huang-Libo commented on #117
xcode8's built-in Autocomplete works very well.Suggest you update.

[2016-09-27 08:56] 7934345 commented on #117
what @laowenlu said is

Xcode crashed, when he typed the backspace key.

and his Xcode version is 7.1

[2016-09-27 08:58] 7934345 commented on #113
你尝试 删除plugin 之后重新安装(或者重新编译)

[2016-09-28 01:47] michaelmou opened #129 "How about Xcode8??"
thank you for your contribution. It's very helpful for me .But , does it dead???

[2016-09-28 01:48] michaelmou commented on #127
What is it ?

[2016-11-24 09:02] Ethenyl commented on #129
Hi,

On my side it's still working with **XCode 8**, or has it been natively integrated by **Apple** ?

[2017-03-02 09:24] lynneyd opened #130 "I can't install this plugin anymore"
My Xcode version is  8.2.1, there were two issues

Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_DVTTextCompletionInlinePreviewController", referenced from:
      l_OBJC_$_CATEGORY_DVTTextCompletionInlinePreviewController_$_FuzzyAutocomplete in DVTTextCompletionInlinePreviewController+FuzzyAutocomplete.o
      objc-class-ref in FuzzyAutocomplete.o
ld: symbol(s) not found for architec

[2017-03-27 21:04] slazyk commented on #129
Xcode 8 has a similar feature builtin.

[2017-03-27 21:04] #129 closed

[2017-03-27 21:05] slazyk commented on #130
Xcode 8 has a similar feature builtin. While there are some differences, why do you want to install the plugin?

[2017-03-27 21:05] slazyk commented on #127
Correct. Xcode now has a similar feature builtin.

[2017-03-27 21:05] #127 closed

[2017-03-27 21:05] #118 closed

[2017-03-27 21:06] #126 closed

[2017-03-27 21:07] slazyk commented on #117
I believe this is obsolete at this point.

[2017-03-27 21:07] #117 closed

[2017-03-27 21:07] #113 closed

[2017-04-20 12:53] mukulm24 opened #131 "Cannot install"
=== CLEAN TARGET FuzzyAutocomplete OF PROJECT FuzzyAutocomplete WITH THE DEFAULT CONFIGURATION (Release) ===